{
    "branches": ["main"],
    "repositoryUrl": "https://github.com/carlosvegaUnivision/test",
    "debug": "false",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
            "changelogFile": "CHANGELOG.md",
            "changelogTitle": "# content-search-api ChangeLog"
            }
        ],
        ["@semantic-release/npm", {
            "npmPublish": false
          }],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md",
                    "test/health-response.json"
                ]
            }
        ]
    ]
}