{
    "branches": ["main"],
    "repositoryUrl": "https://github.com/carlosvegaUnivision/test",
    "debug": "false",
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
        "@google/semantic-release-replace-plugin",
        {
            "replacements": [
            {
                "files": ["test/health-response.json"],
                "from": "\"version\": \".*\"",
                "to": "\"version\": \"${nextRelease.version}\"",
                "results": [
                {
                    "file": "test/health-response.json",
                    "hasChanged": true,
                    "numMatches": 1,
                    "numReplacements": 1
                }
                ],
                "countMatches": true
            }
            ]
        }
        ],
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
            "changelogFile": "CHANGELOG.md",
            "changelogTitle": "# content-search-api ChangeLog"
            }
        ],
        ["@semantic-release/npm", {
            "npmPublish": false
          }],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md",
                    "test/health-response.json"
                ]
            }
        ]
    ]
}